.App {
  text-align: center;
}

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #357bbd;
  text-align: center;

}
.header a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;

}
.register{
  text-align:center;

}
.login{
  text-align:center;

}
/* .register input{ */
  /* display:block; */
  /* text-align:center; */

/* } */