.App {
  text-align: center;
}

.headers{
  text-align: center;
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #357bbd;

}
.headers a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;

}
.register{
  text-align:center;

}
.login {
  text-align:center;

}
.headers{
  text-align:center;


}
/* .register input{ */
  /* display:block; */
  /* text-align:center; */

/* } */